
  #pagecontainer{
    position: relative;
    min-height: 100vh;
  }
  div{
    color:#5a5e5b;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 8px;
  }
  .alignleft {
    float: left;
  }
  .alignright {
     float: right;
     color: black;
   }
   .link{
     color:#5a5e5b;
     font-family: Arial, sans-serif;
     font-size: 13px;
   }
   .footerlink{
     color:#5a5e5b;
     font-family: Arial, sans-serif;
     font-size: 14px;
   }
   a:link, a:visited{
     text-decoration: none;
   }
   a:hover, a:active{
     text-decoration: underline;
   }
   #logo{
     margin-top: 100px;
     margin-bottom: 20px;
   }
   form{
        text-align: center;
   }
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }

  form > input{
    border-radius: 25px;
    border-style: solid;
    width: 450px;
    height: 40px;
  }
  #searchbar{
    border-color: #d4d4d4;
    border-width: 1px;
    margin: 10px;
    padding-left: 40px;
    font-size: 15px;
    box-shadow: none;
    background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png');
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 20px;

  }
  .submit{
    margin-top: 10px;
    width: auto;
    height: 40px;
    background: #f2f2f2;
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: none;
    font-size: 14px;
    color: #828282;
  }
  input:hover{
    color: black;
    border: solid;
    border-color: #d4d4d4;
    border-width: 1px;

  }
  #footer{
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    padding-left: 15px;
    padding-right: 30px;
    width: 100%;
    margin-left: -16px;
    margin-bottom: 0px;
    border-top: solid;
    border-width: 1px;
    border-color: #d4d4d4;
  }
